*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 65px;
  color: #fff;
  font-weight: 700;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  color: #fff;
  font-weight: 700;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #6c7279;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */

header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #515369;
  padding: 35px 0;
}

.header__logo a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  color: #676980;
  letter-spacing: 2px;
  font-weight: 900;
  text-decoration: none;
}

.header__logo a span {
  color: rgba(255, 255, 255, 0.692);
  font-weight: 300;
  letter-spacing: 0.3px;
}

.header__fixed {
  position: fixed;
  background-color: #31344e;
  height: auto;
}

.header__fixed .header__body {
  border: none;
  padding: 15px 0;
}

/* nav */

.nav {
  display: flex;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav__link {
  color: white;
  margin-left: 50px;
  opacity: 0.75;
  transition: opacity 0.2s linear;
  text-decoration: none;
}

.nav__link:first-child {
  margin-left: 0;
}

.nav__link:hover {
  opacity: 1;
}

/* intro */

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 750px;
  padding-top: 100px;
  background: #31344e url("../img/intro.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  z-index: 0;
}

.intro::after {
  content: "";
  background: rgba(31, 33, 56, 0.9);
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.intro__body {
  width: 100%;
  margin: 0 auto;
  max-width: 970px;
  position: relative;
  z-index: 2;
  text-align: center;
}

.intro h1 {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.intro p {
  font-size: 22px;
  color: #fff;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 60px;
}

/* Button */

.btn {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  font-family: inherit;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.btn--red {
  background-color: #e84545;
  padding: 14px 40px;
  border-radius: 5px;
  transition: background-color 0.2s linear;
}

.btn--long {
  min-width: 280px;
}

.btn--red:hover {
  background-color: #ac3636;
}

/* features */

.features {
  display: flex;
  margin: 100px 0;
  flex-wrap: wrap;
}

.features__item {
  width: 33.33333%;
  text-align: center;
  padding: 0 40px;
  margin: 25px 0;
}

.features__title {
  font-size: 14px;
  color: #2d3033;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.features__text {
  line-height: 1.5;
  color: #6c7279;
}

.features div > img {
  width: 100%;
  max-width: 80px;
  min-width: 80px;
  margin: 20px 0;
  height: 80px;
  min-height: 80px;
}

/* Works */

.works {
  display: flex;
  flex-wrap: wrap;
}

.works__item {
  width: 25%;
  height: 350px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}

.works__item:hover .works__content {
  opacity: 1;
}

.works__item--1 {
  background-image: url(../img/Works/christmas-tree-6895765_1920.jpg);
}

.works__item--2 {
  background-image: url(../img/Works/christmas-6896107_1920.jpg);
}

.works__item--3 {
  background-image: url(../img/Works/hotel-6862159_1920.jpg);
}

.works__item--4 {
  background-image: url(../img/Works/old-6880626_1920.jpg);
}

.works__item--5 {
  background-image: url(../img/Works/bach-6815187_1920.jpg);
}

.works__item--6 {
  background-image: url(../img/Works/animal-6655641_1920.jpg);
}

.works__item--7 {
  background-image: url(../img/Works/eagle-6740066_1920.jpg);
}

.works__item--8 {
  background-image: url(../img/Works/trees-5974614_1280.jpg);
}

.works__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(148, 40, 40, 0.8);
  text-align: center;
  color: #fff;
  opacity: 0;

  transition: opacity 0.3s linear;
}

.works__title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.works__text {
  font-size: 14px;
}

/* team */

.team {
  margin: 100px 0 70px;
}

.team__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.team__item {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.team__photo {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.team__name {
  color: #2d3033;
  font-size: 22px;
  margin-bottom: 8px;
}

.team__prof {
  color: #e84545;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.team__text {
  font-size: 14px;
  line-height: 1.5;
  color: #6c7279;
  margin-bottom: 5px;
}

/* Social */

.social {
  display: flex;
}

.social__icon {
  width: 40px;
  height: 40px;
  fill: rgba(0, 0, 0, 0.158);
  transition: fill 0.2s linear;
}

.social__icon:hover {
  fill: rgba(148, 40, 40, 0.8);
}

.social__icon--footer {
  fill: #fff;
}

.social__icon--footer:hover {
  fill: rgba(196, 196, 196, 0.699);
}

.footer__item .social {
  display: flex;
  justify-content: center;
}

/* Reviews */

.reviews {
  background-color: #53354a;
  overflow: hidden;
}

.reviews__item {
  display: flex;
  flex-wrap: wrap;
}

.reviews__photo {
  width: 50%;
  height: 400px;
  position: relative;
  border-right: 1px solid rgba(0, 0, 0, 0.247);
}

.reviews__photo img {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.reviews__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 80px;
}

.reviews__text {
  font-family: "Cardo", sans-serif;
  font-style: italic;
  font-size: 36px;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 20px;
}

.reviews__author {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

/* Download */

.download {
  margin: 90px 0;
  text-align: center;
}

.download__title {
  color: #2d3033;
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 10px;
}

.download__text {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #2d3033;
  margin-bottom: 30px;
}

/* Footer */

footer {
  padding: 70px 0;
  background-color: #3a3e64;
}

.footed__body {
  display: flex;
  flex-wrap: wrap;
}

.footer__item {
  width: 33%;
  text-align: center;
}

.footer__title {
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer__address {
  font-style: normal;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.5;
  font-size: 14px;
}

.footer__text {
  font-style: normal;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.5;
  font-size: 14px;
}

